html{
    height: 100%;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Arial Black";
}
body {
    margin: 0;
    display: block;
    background: linear-gradient(to bottom,#111, #ff7b00);
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    font-style: italic;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    height: 30px;
    min-width: 100px;
}

#div-form-login {
    color: #FFFFFF;
    background: #000000;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#div-form-login>form>button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#div-form-login form {
    text-align: left;
}

#div-form-login form input {
    border-radius: 6px;
}

#div-form-login form td {
    text-align: right;
}

#div-form-login~a button {
    display: block;
    margin: auto;
    margin-top: 50px;
}
